# 自动处理行尾符
* text=auto

# Shell 脚本使用 LF 行尾
*.sh text eol=lf
ATT.sh text eol=lf
install.sh text eol=lf

# Markdown 文件
*.md text diff=markdown

# 忽略导出
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
install.sh export-ignore
